<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHiv5pFVod4hEzRKqYyp5R9-gXtXAR4lQ</string>
	<key>GCM_SENDER_ID</key>
	<string>802352731530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.worksyncpro</string>
	<key>PROJECT_ID</key>
	<string>worksyncpro-68dca</string>
	<key>STORAGE_BUCKET</key>
	<string>worksyncpro-68dca.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:802352731530:ios:4f505d87f7247dcf6ba473</string>
</dict>
</plist>